body {
  margin: 0;
  overflow: scroll;
  background: #323232;
  font: Roboto, sans-serif;
}

.bubbles {
  position: absolute;
  overflow: hidden;
  width: 88%;
  height: 18vh;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0);
}

.bubble {
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  width: 50%;
  height: 20px;
  background: rgba(255, 235, 148, 0.749);
  border-radius: 50%;
  animation: rise 8s infinite ease-in, fade 4s infinite ease-in;
}

@keyframes rise {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(calc(100vw - 80%)) translateY(-120vh);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#content-box {
  width: fit-content;
  background-color: rgb(27, 27, 27);
}

#navigation-bar {
  background-color: rgb(0, 0, 0);
}

#navbar-brand-id {
  font-family: "Kablammo", system-ui;
  font-size: 1.5em;
}

#opacity-card {
  background-color: rgba(0, 0, 0, 0.5);
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}

.team-container {
  background-color: #0e0e0e;
  border-radius: 2em;
}

.about-container {
  background-color: #0e0e0e;
}