:root {
  /* Bubblegum palette */
  --rose: #f72585;
  --fandango: #b5179e;
  --grape: #7209b7;
  --chrysler-blue: #560bad;
  --dark-blue: #480ca8;
  --zaffre: #3a0ca3;
  --palatinate-blue: #3f37c9;
  --neon-blue: #4361ee;
  --chefchaouen-blue: #4895ef;
  --vivid-sky-blue: #4cc9f0;

  /* default palette */

  --bole: #774936;
  --bole-2: #6e4230;
  --bole-3: #653a2a;
  --caput-mortuum: #5c3324;
  --caput-mortuum-2: #532c1e;
  --caput-mortuum-3: #4a2419;
  --black-bean: #411d13;
  --black-bean-2: #38160d;
  --black-bean-3: #2f0e07;
  --black-bean-4: #260701;
}

@keyframes bubblegumFlow {
  0% {
    background: linear-gradient(
      90deg,
      var(--rose),
      var(--fandango),
      var(--grape),
      var(--chrysler-blue)
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      var(--chrysler-blue),
      var(--dark-blue),
      var(--zaffre),
      var(--palatinate-blue)
    );
  }
  50% {
    background: linear-gradient(
      90deg,
      var(--palatinate-blue),
      var(--neon-blue),
      var(--chefchaouen-blue),
      var(--vivid-sky-blue)
    );
  }
  75% {
    background: linear-gradient(
      90deg,
      var(--vivid-sky-blue),
      var(--chefchaouen-blue),
      var(--neon-blue),
      var(--palatinate-blue)
    );
  }
  100% {
    background: linear-gradient(
      90deg,
      var(--rose),
      var(--fandango),
      var(--grape),
      var(--chrysler-blue)
    );
  }
}

@keyframes defaultFlow {
  0% {
    background: linear-gradient(
      90deg,
      var(--bole),
      var(--bole-2),
      var(--bole-3),
      var(--caput-mortuum)
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      var(--caput-mortuum),
      var(--caput-mortuum-2),
      var(--caput-mortuum-3),
      var(--black-bean)
    );
  }
  50% {
    background: linear-gradient(
      90deg,
      var(--black-bean),
      var(--black-bean-2),
      var(--black-bean-3),
      var(--black-bean-4)
    );
  }
  75% {
    background: linear-gradient(
      90deg,
      var(--black-bean-4),
      var(--black-bean-3),
      var(--black-bean-2),
      var(--black-bean)
    );
  }
  100% {
    background: linear-gradient(
      90deg,
      var(--bole),
      var(--bole-2),
      var(--bole-3),
      var(--caput-mortuum)
    );
  }
}
/* @keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

body {
  /* margin: 0;
  overflow: scroll;
  background: #323232;
  font: Roboto, sans-serif; */
  margin: 0;
  overflow: scroll;
  font: Roboto, sans-serif;
  background: linear-gradient(
    var(--black-bean),
    var(--black-bean-3),
    var(--black-bean-4)
  );
  background-size: 50% 50%;
  animation: defaultFlow 10s ease infinite;
}

.bubbles {
  position: absolute;
  overflow: hidden;
  width: 88%;
  height: 18vh;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0);
}

.bubble {
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  width: 50%;
  height: 20px;
  background: rgba(255, 235, 148, 0.749);
  border-radius: 50%;
  animation: rise 8s infinite ease-in, fade 4s infinite ease-in;
}

@keyframes rise {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(calc(100vw - 80%)) translateY(-120vh);
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

#content-box {
  width: fit-content;
  background-color: rgb(27, 27, 27);
}

#navigation-bar {
  background-color: rgb(0, 0, 0);
}

#navbar-brand-id {
  font-family: "Kablammo", system-ui;
  font-size: 1.5em;
}

#opacity-card {
  background-color: rgba(0, 0, 0, 0.5);
}

@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team4 h1,
.team4 h2,
.team4 h3,
.team4 h4,
.team4 h5,
.team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #316ce8;
}

.team-container {
  background-color: #0e0e0e;
  border-radius: 2em;
}

.about-container {
  background-color: #0e0e0e;
}
