{% extends "index.html" %} {% block content %}
<div class="container mt-5">
  <div class="jumbotron text-white p-5 rounded about-container">
    <h1 class="display-4 ">
      Yay!
    </h1>
    <p class="lead playwrite-au-sa-journal-headings">
      Welcome to SleePyCat, where journaling meets simplicity 
    </p>
    <hr class="my-4" />
    <div>
      ✨ Why you’ll love it:

      <ul>
        <li>Your space, your rules: A private journal that’s all about you.</li>

        <li>
          Effortless journaling: Simple, sleek, and designed to flow with your
          ideas.
        </li>

        <li>
          Always there for you: Safe, secure, and ready whenever inspiration
          strikes.
        </li>
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card text-white mb-3 about-container">
        <div class="card-body">
          <h5 class="card-title">Flask <i class="fa-solid fa-flask"></i></h5>
          <p class="card-text">
            A lightweight WSGI web application framework in Python. 👨‍🔬
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white mb-3 about-container">
        <div class="card-body">
          <h5 class="card-title">MongoDB <i class="fa-solid fa-database"></i></h5>
          <p class="card-text">
            A Non-relational DB that's hosted remotely somewhere... 🧑‍🚀
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-white mb-3 about-container">
        <div class="card-body">
          <h5 class="card-title">Bootstrap <i class="fa-brands fa-bootstrap"></i></h5>
          <p class="card-text">
            The most popular CSS framework for developing responsive and
            mobile-first websites. 🎨
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="jumbotron text-white p-5 rounded about-container">
    <h1 class="display-4">Features</h1>
    <p class="lead">What makes SleePyCat stand out</p>
    <hr class="my-4" />
    <ul class="list-group list-group-light">
      <li
        class="list-group-item px-3 border-0 rounded-3 list-group-item-dark mb-2"
      >
        User registration and login
      </li>
      <li
        class="list-group-item px-3 border-0 rounded-3 list-group-item-dark mb-2"
      >
        Create, read, update, and delete journal entries
      </li>
      <li
        class="list-group-item px-3 border-0 rounded-3 list-group-item-dark mb-2"
      >
        Session management with JSON web tokens
      </li>
      <li
        class="list-group-item px-3 border-0 rounded-3 list-group-item-dark mb-2"
      >
        Responsive design with Bootstrap
      </li>
    </ul>
  </div>
</div> -->

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% include "toast.html" %} {% endif %} {% endwith %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script>
  $(document).ready(function () {
    $(".toast").toast("show");
  });
</script>
{% endblock %}
