{% extends "index.html" %} {% block externalscripts %}
<link
  href="{{ url_for('static', filename='styles/stylesheet.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SleePyCat</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="card  text-white mb-3" id="opacity-card">
        <div class="card-header">Profile</div>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card  text-white mb-3" id="opacity-card">
        <div class="card-header">Dashboard</div>
        <div class="card-body">
          <h5 class="card-title">
            Welcome to your dashboard, !
          </h5>
          <p class="card-text">
            Here you can manage your account and view your activities.
          </p>
        </div>
      </div>
      <div class="card  text-white mb-3" id="opacity-card">
        <div class="card-header">Recent Activities</div>
        <div class="card-body">
          <p class="card-text">No recent activities.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
